<div class="bg-dark sticky-top">
    <ul class="navbar nav ml-auto bg-dark text-light  container">
        <li class="nav-item active"><a routerLink='/'><h6>HOME</h6></a></li>
        <li class="nav-item"><a href="#"><h6>ABOUT MINISTRY</h6></a></li>
        <div class="dropdown">
          <li type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a routerLink='/matter'><h6>DEPARTMENTS</h6></a>
          </li>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink='/matter'>Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>   
           <div class="dropdown">
            <li type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href=""><h6>MINISTERS</h6></a>
            </li>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>        
          <li class="nav-item"><a href=""><h6>PARLAMENT Q&A</h6></a></li>
          <li class="nav-item"><a href=""><h6>MEDIA</h6></a></li>
          <li class="nav-item"><a href=""><h6>RELATED LINKS</h6></a></li>
</ul>
</div>

