<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info text-center text-light">
               <h5><i class="fa fa-book"></i>DAC&PW</h5>
            </div>
            <img class="d-block w-100" src="http://agriculture.gov.in/images/dacfw.jpg">
        </div>
        <div class="col-md-6">
                <div class="bg-info text-center text-light">
                   <h5><i class="fa fa-book"></i>DARE</h5>
                </div>
                <img class="d-block w-100" src="http://agriculture.gov.in/images/dare.jpg">
            </div>
    </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr><h4 class="text-center">Banner</h4><hr>

        </div>
    </div>

</div><br><br>

<div class="container">
        <div class="row">
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/cashlees_india_new.png" alt=""></div>
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/PIB_Logo_n.png" alt=""></div>
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/pg-portal.png" alt=""></div>
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/myvisit-logo.png" alt=""></div>
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/mygov.png" alt=""></div>
                <div class="col-md-2"><img src="http://agriculture.gov.in/Admin_MOAFW/Data/makeinindia.png" alt=""></div>

        </div>
        </div><br><br>

              <footer class="bg-dark">
            <div class="container ml-auto  pt-4 pb-4">
                <div class="row" >
                    
                  <div class="col-md-6 text-light p">Website Content Managed by Ministry of Agriculture & Cooperation, Last Updated: 7 May 2018</div>
                  <div class="col-md-6 text-light p">Website Content Managed by Ministry of Agriculture & Cooperation, Last Updated: 7 May 2018 </div>
            
            </div>
            </div>
            </footer>
        