<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-info text-center text-light">
                <h5><i class="fa fa-book"></i>PIB NEWS</h5>
            </div>
            <h5>Total value of organic products exported from India is Rs 5150.99 crore in 2018-19: Shri Narendra Singh
                Tomar</h5>
            <p>Government of India has been promoting Organic farming in the country through dedicated schemes namely
                Paramparagat Krishi Vikas Yojana (PKVY) and Mission Organic Value Chain Development North Eastern Region
                (MOVCDNER) since 2015-16Government of India has been promoting Organic farming in the country through
                dedicated schemes namely Paramparagat Krishi Vikas Yojana (PKVY) and Mission Organic Value Chain
                Development North Eastern Region (MOVCDNER) since 2015-16Government of India has been promoting Organic
                farming inssssss the country through dedicated schemes namely Paramparagat Krishi Vikas Yojana (PKVY) and
                Missi.</p>
        </div>

        <div class="col-md-4">
            <div class=" bg-info text-center text-light">
                <h5><i class="fa fa-refresh"></i>WHATS NEW</h5>
            </div>
            <h5>Total value of organic products exported from India is Rs 5150.99 crore in 2018-19: Shri Narendra Singh
                Tomar</h5>
            <p>Government of India has been promoting Organic farming in the country through dedicated schemes namely
                Paramparagat Krishi Vikas Yojana (PKVY) and Mission Organic Value Chain Development North Eastern Region
                (MOVCDNER) since 2015-16Government of India has been promoting Organic farming in the country through
                dedicated schemes namely Paramparagat Krishi Vikas Yojana (PKVY) and Mission Organic Value Chain
                Development North Eastern Region (MOVCDNER) since 2015-16Government of India has been promoting Organic
                farming in the country through dedicated schemes namely Paramparagat Krishi Vikas Yojana (PKVY) and
                Missi.</p>
        </div>
        <div class="col-md-4">
            <div class=" bg-info text-center text-light">
                <h5><i class="fa fa-book"></i>Honourable Ministers</h5>
            </div><br>
            <div class="">
                <img class="img mx-auto d-block " src="http://agriculture.gov.in/images/minister/minister-1_1.jpg">
                <p class="text-center">Shri Narendra Singh Tomar</p>
                <p class="text-center">Hon’ble Minister of Agriculture & Farmers Welfare</p>
            </div>
        </div>
    </div>
</div>